@import "tailwindcss";

@theme {
  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-noto-serif), ui-serif, Georgia, Cambria, serif;

  --color-brand-cream: #faf8f5;
  --color-brand-charcoal: #1c1d1a;
  --color-brand-terracotta: #b05537;
  --color-brand-border: #e2ded7;
  --color-brand-bg-light: #f4f3ef;
}
